---
layout: archive
permalink: /blogs/
title: "Blogs"
classes:
  - blogs-page
author_profile: true
redirect_from:
  - /year-archive/
  - /wordpress/blog-posts/
---

{% include base_path %}

{% assign research_count = 0 %}
{% assign life_count = 0 %}
{% for post in site.posts %}
  {% assign post_blog_category = post.blog_category | default: "life" | downcase %}
  {% if post_blog_category == "research" %}
    {% assign research_count = research_count | plus: 1 %}
  {% elsif post_blog_category == "life" %}
    {% assign life_count = life_count | plus: 1 %}
  {% endif %}
{% endfor %}

<div class="blog-archive">
  <input class="blog-tab-input" type="radio" name="blog-category" id="blog-tab-research" {% if research_count > 0 or life_count == 0 %}checked{% endif %}>
  <input class="blog-tab-input" type="radio" name="blog-category" id="blog-tab-life" {% if research_count == 0 and life_count > 0 %}checked{% endif %}>

  <div class="blog-tab-list">
    <label class="blog-tab-label" for="blog-tab-research">Research</label>
    <label class="blog-tab-label" for="blog-tab-life">Life</label>
  </div>

  <div class="blog-tab-panels">
    {% include blog-category-panel.html category="research" label="Research" %}
    {% include blog-category-panel.html category="life" label="Life" %}
  </div>
</div>
